doctype html
html(lang="en")
  head
    title Project 8
  body
    h1 Books template
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. In eaque magnam, voluptas praesentium iste rerum eveniet aspernatur qui excepturi odit et distinctio voluptate aperiam corporis adipisci rem? Error, quam fuga?