doctype html
html(lang="en")
  head
    title Page Note Found
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    h1.error Server Error
    p Sorry! There was an unexpected error on the server.