extends layout.pug
block content
  h1 Books
  p 
    a(class='button' href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      tr
        td= book[0].title
          a(href='/book_detail')
        td= book[0].author
        td= book[0].genre
        td= book[0].year