doctype html
html(lang="en")
  head
    title Page Not Found
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    h1.error Server Error
    p Sorry! We couldn't find the page you were looking for.
    |<br>
    p
      a(class='button' href='/books') Home